<div class="about-wrapper">
	<h1>Hi! This is Rafael</h1>
	<%= image_tag "panda.png", size: "120x120", id: "avatar" %>
	<p> And this is my blog about Ruby, Ruby on Rails, amazing breakfast, philosophical quotes and pandas.</p>
</div>