// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-wrapper {

  .date {
    font-size: 1.5em;
    color: #fas;
  }

  .index-comments {
    font-size: 1.5em;
  }

}

